#root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

section {
  height: 100vh;
}

.App {
  height: 100%;
  width: 100%;
}